:root {
    color-scheme: dark;
  }
  ::-webkit-scrollbar-corner {
    /*
    background-image: url(resources/corner.png);
    background-repeat: no-repeat;
    */
    background-color: #3D3D3D;
    }